fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
sqlalchemy
psycopg2-binary
python-jose[cryptography]
httpx
openai
pillow
pillow-heif
snowflake-snowpark-python
snowflake-connector-python
google-generativeai
langgraph
langchain
langchain-google-genai
google-search-results
requests
gunicorn
